div {
    margin: 50px;
    box-sizing: border-box;
}
.pram{
    background-color: forestgreen;
    height: 50px;
    width: 100px;
    border-radius: 16px;
}
.oval{
    background-color: darkmagenta;
    height: 50px;
    width: 100px;
    border-radius: 50%;
}
.krug{
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.trik{
    height: 50px;
    width: 50px;
    border: 50px solid transparent;
    border-top-color: brown;
}